+++
title = "Tobeva Software"
linkTitle = "Tobeva"
type = "community"
+++



{{< blocks/section color="secondary">}}

{{% blocks/feature icon="far fa-clock" title="Performance" %}}
We can diagnose and remedy complex performance problems.
{{% /blocks/feature %}}

{{% blocks/feature icon="far fa-eye" title="Computer Graphics" %}}
Extensive experience in 2D and 3D visualizations and graphics.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cogs" title="Cloud Data Pipelines" %}}
Complex compute-intensive workflows in AWS or other clouds.
{{% /blocks/feature %}}


{{< /blocks/section>}}


{{< blocks/section color="white">}}
{{% blocks/feature icon="fab fa-linkedin" title="LinkedIn" %}}
<a href="http://linkedin.com/in/pwinston">Philip Winston</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-envelope" title="philip<img src='' width='0' height='0'>@tobeva.com" %}}
[PDF Resume](/philip_winston_resume.pdf)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Twitter" %}}
<a href="http://twitter.com/pbwinston">@pbwinston</a>
{{% /blocks/feature %}}
{{< /blocks/section>}}