
.td-article {
        p {
                font-weight: $font-weight-body-text;
                font-size: 1.15rem;
                font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
        }
        h2 {
                margin-top: 50px;
                margin-bottom: 20px;
        }
        img {
                height: auto;
        }
}

.td-blog {
        p {
                font-weight: $font-weight-body-text;
                font-size: 1.15rem;
                font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
        }
}

.td-section {
        p {
                font-weight: $font-weight-body-text;
                font-size: 1.15rem;
                font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
        }
}