
.td-article {
        min-width: 700px;
        border-right: 1px solid $td-sidebar-border-color;
        padding-right: 50px;
        p {
                font-weight: $font-weight-body-text;
                font-size: 1.30rem;
                font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
        }
        h2 {
                margin-top: 50px;
                margin-bottom: 20px;
        }
        img {
                height: auto;
        }
}