{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
			<h1>Welcome to {{ .Site.Title }}</h1>
		</span>
		<span class="h4 mb-4">
			<a class="btn btn-lg btn-secondary mt-5 mb-0" href="/about">
				Learn More <i class=" fas fa-arrow-alt-circle-right ml-2"></i>
			</a>
		</span>
	</div>
</section>


<div class="td-content">
	{{ .Content }}
</div>

{{ end }}