---
title: About Tobeva Software
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Tobeva Software" image_anchor="bottom" height="min" >}}

{{< /blocks/cover >}}

{{% blocks/lead %}}
Consult &middot; Design &middot; Develop
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">
Cloud-based data pipelines, performance critical systems, computer graphics.
</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">
Industries include CAD, Haptics, Video Games, Simulations, Neuroscience, Geospatial.
</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fab fa-linkedin" title="LinkedIn" %}}
<a href="http://linkedin.com/in/pwinston">Philip Winston</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-envelope" title="philip @ tobeva" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Twitter" %}}
<a href="http://twitter.com/pbwinston">@pbwinston</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}
