<!-- The Monaco Editor -->
<div id="container" style="width:600px;height:400px;border:1px solid #ccc"></div>
<script src="/app.js"></script>

<script type="text/javascript">

    function outf(text) {
        var mypre = document.getElementById("output");
        mypre.innerHTML = mypre.innerHTML + text;
    }

    function builtinRead(x) {
        if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
        return Sk.builtinFiles["files"][x];
    }

    function runit() {
        var prog = window.editor.getValue();
        var mypre = document.getElementById("output");
        mypre.innerHTML = '';
        Sk.pre = "output";
        Sk.configure({ output: outf, read: builtinRead });
        (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
        var myPromise = Sk.misceval.asyncToPromise(function () {
            return Sk.importMainWithBody("<stdin>", false, prog, true);
        });
        myPromise.then(function (mod) {
            console.log('success');
        },
            function (err) {
                alert(err.toString())
            });
    }

    window.editor.setModelLanguage(window.editor.getModel(), "python")
</script>

<form>
    <button type="button" onclick="runit()">Run</button>
</form>



<h2>Your Program's Output</h3>
    <pre id="output"></pre>
    <div id="mycanvas"></div>